body {
    background-color: burlywood;
}

.dark {
    fill: #005244;
    opacity: 0;
    /* Устанавливаем начальную непрозрачность элементов в 0 */
    transition: opacity 3.5s;
    /* Добавляем плавный переход для изменения прозрачности */
    position: absolute;
    /* Устанавливаем позиционирование элементов */
}


/* .dark-6 { */


/* z-index: 6; */


/* Наибольший z-index для dark-6 */


/* } */


/* .dark-5 { */


/* z-index: 5; */


/* Второй по величине z-index для dark-5 */


/* } */


/* .dark-4 { */


/* z-index: 4; */


/* Наименьший z-index для dark-4 */


/* } */


/* .dark-3 { */


/* z-index: 3; */


/* Наибольший z-index для dark-6 */


/* } */


/* .dark-2 { */


/* z-index: 2; */


/* Второй по величине z-index для dark-5 */


/* } */


/* .dark-1 { */


/* z-index: 1; */


/* Наименьший z-index для dark-4 */


/* } */